build/*
hdbscan/*.pyc
hdbscan/tests/*.pyc
hdbscan/*.pyd
hdbscan/tests/*.pyd
hdbscan/__pycache__/*
dist/*
*egg-info
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
hdbscan/.ipynb_checkpoints/*
__pycache__/

